@import "tailwindcss";

@theme {
  --color-primary: #5067AA;
  --color-blue-light: #86A6DE;
  --color-blue-dark: #324F7B;
  --color-bglight: #F8F8F8;
  
  --color-containerbg: oklch(0.44 0.1021 254.51);
  --color-textcontainerbg: #f8f8f8;
  
  --font-display: "JetBrains Mono", "monospace";
}
